<a href="https://colab.research.google.com/github/FazG9/S2_PBO_TI-1C/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01. Tipe data dasar

In [ ]:
 # 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print("NOTE:")
print("Integer adalah tipe data untuk sebuah angka")
print("Float adalah tipe data untuk sebuah bilangan desimal")
print("Complex adalah tipe data untuk sebuah bilangan kompleks")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
NOTE:
Integer adalah tipe data untuk sebuah angka
Float adalah tipe data untuk sebuah bilangan desimal
Complex adalah tipe data untuk sebuah bilangan kompleks

In [ ]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

print("NOTE:")
print("Boolean adalah tipe data untuk sebuah nilai benar atau salah")

is_active = True -> <class 'bool'>
NOTE:
Boolean adalah tipe data untuk sebuah nilai benar atau salah

In [ ]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

print("NOTE:")
print("String adalah tipe data untuk sebuah nilai berupa karakter")

teks = Hello, Python! -> <class 'str'>
NOTE:
String adalah tipe data untuk sebuah nilai berupa karakter

In [11]:
 # 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

print("NOTE:")
print("List adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam list dapat diubah")

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
NOTE:
List adalah tipe data untuk sebuah himpunan nilai
Nilai dalam list dapat diubah

In [13]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

print("NOTE:")
print("Tuple adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam tuple tidak dapat diubah")

koordinat = (10, 20) -> <class 'tuple'>
NOTE:
Tuple adalah tipe data untuk sebuah himpunan nilai
Nilai dalam tuple tidak dapat diubah

In [17]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
"nama": "Andi",
"nim": "A11.2022.12345",
"jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

print("NOTE:")
print("Dictionary adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam dictionary dapat diubah")

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>
NOTE:
Dictionary adalah tipe data untuk sebuah himpunan nilai
Nilai dalam dictionary dapat diubah

In [20]:
 # 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

print("NOTE:")
print("Set adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam set tidak dapat diubah")

himpunan_angka = {1, 2, 3} -> <class 'set'>
NOTE:
Set adalah tipe data untuk sebuah himpunan nilai
Nilai dalam set tidak dapat diubah

In [21]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

print("NOTE:")
print("Konversi tipe data string ke integer")

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>
NOTE:
Konversi tipe data string ke integer

Praktikum 02. Variabel dan Operasi dasar

In [22]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

In [24]:
# 2. Operasi Aritmetika
a = 10
b = 3

penjumlahan = a + b      # Tambah
pengurangan = a - b      # Kurang
perkalian = a * b        # Kali
pembagian = a / b        # Bagi (hasil float)
pembagian_bulat = a // b # Bagi (bulat)
modulus = a % b          # Sisa bagi
pangkat = a ** b         # Pemangkatan

print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000

In [25]:
# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b

print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

OPERASI PERBANDINGAN
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [28]:
# 4. Operasi Logika
# and, or, not

x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not_x = not x

print("\nOPERASI LOGIKA")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

OPERASI LOGIKA
x = True , y = False
x and y = False
x or y = True
not x = False

In [31]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih positif.")
else:
  print("\nKondisi tidak terpenuhi atau b <= 0.")

Kondisi terpenuhi: a lebih besar dari b, dan b masih positif.

Praktikum 03. Percabangan

In [40]:
# 1. IF Sederhana
# Program hanya mengeksekusi blok jika kondisinya True

nilai = 85
print("Contoh IF Sederhana:")
if nilai > 80:
  print("Selamat! Anda lulus dengan nilai tinggi.\n")

Contoh IF Sederhana:
Selamat! Anda lulus dengan nilai tinggi.

In [36]:
# 2. IF-ELSE
# Jika kondisi True, eksekusi blok if; jika False, eksekusi blok else

umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
print("Anda belum cukup umur untuk mendapatkan SIM.\n")

2) FOR loop mengiterasi list
Buah: apel
Buah: mangga
Buah: jeruk
Buah: pisang

In [43]:
# 3. IF-ELIF-ELSE
# Menangani banyak kondisi secara berurutan.
# Jika ada kondisi yang terpenuhi, blok yang bersangkutan dieksekusi,
# lalu program melewati blok kondisi setelahnya.

hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
  print("Hari Senin - Saatnya kembali bekerja!")
elif hari == "Selasa":
  print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
  print("Hari Rabu - Ada diskon di beberapa toko.")
else:
  print("Hari lainnya - Atur jadwalmu dengan baik.\n")

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko.