<a href="https://colab.research.google.com/github/FazG9/S2_PBO_TI-1C/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01. Tipe data dasar

In [ ]:
 # 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print("NOTE:")
print("Integer adalah tipe data untuk sebuah angka")
print("Float adalah tipe data untuk sebuah bilangan desimal")
print("Complex adalah tipe data untuk sebuah bilangan kompleks")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
NOTE:
Integer adalah tipe data untuk sebuah angka
Float adalah tipe data untuk sebuah bilangan desimal
Complex adalah tipe data untuk sebuah bilangan kompleks

In [ ]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

print("NOTE:")
print("Boolean adalah tipe data untuk sebuah nilai benar atau salah")

is_active = True -> <class 'bool'>
NOTE:
Boolean adalah tipe data untuk sebuah nilai benar atau salah

In [ ]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

print("NOTE:")
print("String adalah tipe data untuk sebuah nilai berupa karakter")

teks = Hello, Python! -> <class 'str'>
NOTE:
String adalah tipe data untuk sebuah nilai berupa karakter

In [11]:
 # 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

print("NOTE:")
print("List adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam list dapat diubah")

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
NOTE:
List adalah tipe data untuk sebuah himpunan nilai
Nilai dalam list dapat diubah

In [13]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

print("NOTE:")
print("Tuple adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam tuple tidak dapat diubah")

koordinat = (10, 20) -> <class 'tuple'>
NOTE:
Tuple adalah tipe data untuk sebuah himpunan nilai
Nilai dalam tuple tidak dapat diubah

In [17]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
"nama": "Andi",
"nim": "A11.2022.12345",
"jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

print("NOTE:")
print("Dictionary adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam dictionary dapat diubah")

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>
NOTE:
Dictionary adalah tipe data untuk sebuah himpunan nilai
Nilai dalam dictionary dapat diubah

In [20]:
 # 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

print("NOTE:")
print("Set adalah tipe data untuk sebuah himpunan nilai")
print("Nilai dalam set tidak dapat diubah")

himpunan_angka = {1, 2, 3} -> <class 'set'>
NOTE:
Set adalah tipe data untuk sebuah himpunan nilai
Nilai dalam set tidak dapat diubah

In [21]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

print("NOTE:")
print("Konversi tipe data string ke integer")

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>
NOTE:
Konversi tipe data string ke integer

Praktikum 02. Variabel dan Operasi dasar

In [22]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True